*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  min-height: 100%;

  --background: #fffdf4;
  --color-primary: rgba(0, 0, 0, 0.8);
  --color-secondary: rgba(0, 0, 0, 0.6);
  --color-tertiary: #666666;
  --color-offwhite: rgba(0, 0, 0, 0.1);

  background-color: var(--background);
}

a {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--color-tertiary);
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-size: 20px;
  color: var(--color-primary);
  font-weight: 500;
}

h2 {
  font-size: 18px;
  color: var(--color-secondary);
}

span {
  text-decoration: underline;
  color: var(--color-primary);
}

strong {
  color: var(--color-primary);
  font-weight: inherit;
}

a {
  display: inline;
  color: var(--color-primary);
  text-decoration: underline;
}

#root,
#__next {
  isolation: isolate;
}

@media (max-width: 768px) {
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-color: var(--color-offwhite);
  border: 1px solid var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}
