.main {
  display: flex;
  flex-direction: column;
  padding: 85px 18px 85px;
  min-height: 100vh;
  max-width: 1512px;
  margin-inline: auto;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.project_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border-radius: 20px;
  aspect-ratio: 1/1;
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}

.img {
  opacity: 1;
}

.img_color {
  opacity: 1;
}

.project_card .img_color {
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: all 80ms ease-in-out;
}

.project_card:hover {
  border-color: var(--color-primary);
  background-color: transparent;
}

.project_card:hover .img {
  opacity: 0;
}

.project_card:hover .img_color {
  opacity: 1;
}

.name_section {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas: "name bio social";
  gap: 100px;
  margin-top: 95px;
  margin-right: auto;
  padding-left: 62px;
  max-width: 1024px;
}

.name_section_tablet {
  display: none;
}

.name {
  grid-area: name;
}

.bio {
  grid-area: bio;
}

.social {
  grid-area: social;
}

@media (max-width: 1024px) {
  .project_card img {
    transform: scale(0.8);
  }
}

@media (max-width: 768px) {
  .main {
    padding: 18px 0px;
    overflow-x: hidden;
  }
  .name_section {
    display: none;
  }
  .name_section_tablet {
    display: block;
    margin-bottom: 50px;
    padding-inline: 50px;
  }

  .project_card {
    aspect-ratio: unset;
  }

  .project_grid {
    display: grid;
    grid-template-columns: repeat(4, 207px);
    grid-template-rows: repeat(2, 150px);
    gap: 8px;
    width: 100%;
    padding-inline: 50px;
    overflow-x: scroll;
  }

  .project_grid::-webkit-scrollbar {
    display: none;
  }
}
